/* properties for alteration on scroll */
.section__el--visible{
  opacity:1;
  transition:1s ease;
}
.section-el{
  opacity:0;
}

/* animation for the scrolling of svg icons */
.endorsements-svg-container{
  animation: scroll 5s linear infinite;
}


  @keyframes scroll{
    to {
      transform:translateX(calc((-2% - 4rem))) ;
    }
  }